body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6f8ba7;
}

.app-container {
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-container {
  margin-top: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.todo-buttons button {
  padding: 10px 15px; 
  font-size: 14px; 
  border-radius: 21px;
} 

.todo-buttons .edit-button {
  background-color: green;
  color: white;
}

.todo-buttons .delete-button {
  background-color: red;
  color: white;
}